<h1>My App</h1>
<p>card works!</p>
<button>Olá mundo!</button>
<ul>
  <!-- construiu um LI para cada item que foi passado pela simulação da API no typescipt -->
  <!-- Com o uso desse index tornamos o nosso elemento rastreado para podermos remover um item ou adicionar de fomar dinamicamente -->
  <li *ngFor="let p of produtos; let i = index" (click)="remover(i)">{{i}} - {{p}}</li>
  <!-- conceito de REATIVIDADE -->
  <button (click)="adicionar()">Adicionar</button>
</ul>

<div [ngSwitch]="menuType">
  <div *ngSwitchDefault>
    <li>editar perfil</li>
    <li>adicionar cartão</li>
  </div>
  <div *ngSwitchCase="'admin'">
    <li>editar perfil</li>
    <li>adicionar cartão</li>
    <li>gerenciar usuarios</li>
  </div>
  <div *ngSwitchCase="'superUser'">
    <li>editar perfil</li>
    <li>adicionar cartão</li>
    <li>gerenciar usuarios</li>
    <li>gerenciar admins</li>
  </div>
</div>
